<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CamemisOffLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="Defualt" connectionString="Data Source=.\DataBase.db; Version=3;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CamemisOffLine.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="remember" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="cboCollection" serializeAs="String">
        <value />
      </setting>
      <setting name="checkLoginOrLogut" serializeAs="String">
        <value />
      </setting>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
      <setting name="acessUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="schoolName" serializeAs="String">
        <value />
      </setting>
      <setting name="profileName" serializeAs="String">
        <value />
      </setting>
      <setting name="gender" serializeAs="String">
        <value />
      </setting>
      <setting name="role" serializeAs="String">
        <value />
      </setting>
      <setting name="schoolName_en" serializeAs="String">
        <value />
      </setting>
      <setting name="userData" serializeAs="String">
        <value />
      </setting>
      <setting name="schoolData" serializeAs="String">
        <value />
      </setting>
      <setting name="schoolAcademyYear" serializeAs="String">
        <value />
      </setting>
      <setting name="schoolCode" serializeAs="String">
        <value />
      </setting>
      <setting name="studentMonthlyResult" serializeAs="String">
        <value />
      </setting>
      <setting name="monthofTheAcademyYear" serializeAs="String">
        <value />
      </setting>
      <setting name="temFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="localProfileLink" serializeAs="String">
        <value />
      </setting>
      <setting name="teachingSubject" serializeAs="String">
        <value />
      </setting>
    </CamemisOffLine.Properties.Settings>
  </userSettings>
</configuration>
